@import '../varibales';
.about {
    padding: 100px 0;
    position: relative;
    &_head {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $GreyscaleBlack;
        padding-bottom: 20px;
        max-width: 100px;
        &::after {
            position: absolute;
            content: '';
            width: 300px;
            height: 2px;
            background: #000;
            margin-top: 12px;
        }
    }
    &_title {
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        text-align: left;
        max-width: 700px;
        margin-bottom: 45px;
    }
    &_discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    max-width: 655px;
    margin-bottom: 20px;
    }
    &_foot {
        float: right;
        margin-bottom: 100px;
    }
}

.about_block {
    background: $PrimaryBlue100;
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 20px;
    padding: 20px 90px;
    margin: 85px 0;
}

.about_item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    max-width: 320px;
    &_text {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #fff;
    }
}

.about-image {
    width: 100%;
}

@media screen and (max-width: 1279px) and (min-width: 768px){
    .about {
        &_block {
            display: flex;
            flex-direction: column;
            height: 800px;
        }
        &_foot {
            float: left;
        }
    }   
}

@media screen and (max-width: 767px) {
    .about {
        &_block {
            display: flex;
            flex-direction: column;
            height: 600px;
        }
        &_item {
            &_text {
                font-size: 16px;
            }
            &_images {
                width: 70px;
                height: 70px;
            }
        }
        &_foot {
            float: left;
        }
    }
}