@import '../varibales';
.footer-wrraper {
    background: $PrimaryBlue100;
}

.left_block {
    width: 45%;
    margin-top: 70px;
}

.footer {
    margin-top: 130px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    &_text {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: #fff;
    }
    &_logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 170%;
        color: #fff;
        margin-top: 110px;
    }
}

.right_block {
    margin-top: 70px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.footer_registr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_field {
        width: 330px;
        height: 50px;
        background: $PrimaryBlue100;
        border: 2px solid #fff;
        padding-left: 10px;
    }
    &_button {
        width: 240px;
        height: 50px;
    }
}

.footer_tel {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
}