@import '../varibales';
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $GreyscaleBlack;
    margin-top: 40px;
    &_logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 170%;
    }
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    &_item {
        &_button {
            color: #ffffff;
            padding: 14px 32px;
            background: $PrimaryBlue100;
        }
    }
}