@import '../varibales';
.hero {
    padding: 100px 0;
    position: relative;
    margin-bottom: 70px;
    &_title {
        font-weight: bold;
        font-size: 72px;
        line-height: 140%;
        max-width: 747px;
        color: $Greyscale50;
        margin-bottom: 50px;
        &::after{
            position: absolute;
            content: '';
            top: 50px;
            right: 0px;
            width: 400px;
            height: 2px;
            background: #000;
        }
        &_smaller {
            font-size: 52px;
        }
    }
}

.hero_image {
    width: 100%;
    height: 600px;
}
.hero_parametrs {
    position: absolute;
    right: 140px;
    top: 140px;
    background: $PrimaryBlue100;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    &_item {
        padding: 40px 0;
        span {
            display: block;
            color: #fff;
            font-weight: 400;
            font-size: 16px;
            padding-bottom: 10px;
            line-height: 140%;
        }
        strong {
            font-size: 48px;
        }
    }
    
}

.hero_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    max-width: 655px;
    margin-top: 100px;
}