@import '../varibales';

.inf {
    margin-top: 100px;
    &_head {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        &::after {
            position: absolute;
            content: '';
            width: 300px;
            height: 2px;
            background: #000;
            margin-top: 12px;
        }
    }
    &_title {
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        margin-bottom: 45px;
        margin-top: 20px;
    }
}

.inf_block {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}

.inf_item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.inf_item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.inf_item:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
}

.inf_item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.inf_item:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.inf_item:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
}

.inf_item_text {
    position: relative;
    bottom: 50px;
    left: 10px;
    color: #fff;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .inf {
        &_block {
            display: grid;
            grid-template-columns: 300px 300px;
            gap: 10px;
        }
        &_item:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 5;
        }
        &_item:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &_item:nth-child(6) {
            grid-column-start: 2;
            grid-column-end: 3;
            // grid-row-start: 3;
            // grid-row-end: 4;
        }
    }
}

@media screen and (max-width: 767px) {
    .inf {
        &_block {
            display: flex;
            flex-direction: column;
        }
        &_item {
            &_images:first-child {
                width: 340px;
            }
        }
    }
}