@import '../varibales';
.pdf{
    margin-top: 100px;
    &_head {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        &::after {
            position: absolute;
            content: '';
            width: 300px;
            height: 2px;
            background: #000;
            margin-top: 12px;
        }
    }
    &_title {
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        max-width: 860px;
        margin: 20px 0;
    }
    &_block {
        display: flex;
        &_text {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            width: 630px;
        }
    }
}

@media screen and (max-width: 767px) {
    .pdf {
        &_block {
            display: block;
            &_images {
                margin: 35px 0;
            }
        }
    }
}